* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #d9d9da;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

header {
    position: absolute;
    width: 100%;
    top: 1.5rem;
    display: flex;
    justify-content: flex-end;
    padding: 20px 50px;
    z-index: 10;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}


.hero-section {
    position: relative;
    height: 100vh;
    background: url('/oilspill.png') no-repeat center center/cover;
    opacity: 90%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}


.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero-content h1 {
    font-size: 100px;
    font-weight: bold;
    letter-spacing: 10px;
}

.hero-content h2 {
    font-size: 50px;
    letter-spacing: 5px;
}

/* 
.explore-btn {
    margin-top: 30px;
    padding: 15px 30px;
    background-color:transparent;
    border: white 1px solid;
    border-radius: 25px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.explore-btn:hover {
    background-color: transparent;
} */



.glow-on-hover {
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    font-weight: bolder;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 28px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #f5eeee, #7ed4d4, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    font-weight: bolder;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 28px;
}

.glow-on-hover:active {
    color: transparent;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    font-weight: bolder;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 28px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}


.downAngle {
    color: white;
    font-size: large;
}

.social-links {
    padding: 3rem;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-link {
    text-decoration: none;
    color: white;
    font-size: 13px;
    writing-mode: vertical-rl;
    /* Makes text vertical */
    transform: rotate(180deg);
    /* Rotates text to make it readable from left */
    margin-bottom: 20px;
    /* Spacing between the links */
    font-weight: bold;
}

.auth-buttons {
    display: flex;
    align-items: center;
    /* Vertically center the buttons */
    gap: none;
}

.auth-buttons a {
    text-decoration: none;
    font-size: 16px;
    padding: 10px 25px;
    border-radius: 25px;
    border: 2px solid #00A9E0;

    font-weight: bold;
    transition: all 0.3s ease;
}

.sign-up-btn {
    background-color: #00A9E0;
    ;
    color: white;
}

.login-btn {
    background-color: transparent;
    color: #00A9E0;
    position: relative;
    margin-left: -4.5rem;

}

#waterText {
    font-family: "Raleway", sans-serif;
}

#spaceText {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    position: relative;
    top: -1rem;
}

.alert {
    display: flex;
    border: red solid 1px;
    width: 100%;
    background-color: rgb(255, 173, 173);
    margin-top: 0.5rem;
    padding: 0.5rem;
    gap: 10px;
    border-radius: 5px;

}

.alertLogo {
    color: black;
}

.alertBox {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    font-size: 15px;
}

.alertHeading {
    color: rgb(130, 18, 17);
    font-weight: bold;
}

.alertmsg {
    color: rgb(161, 20, 20);
}


.card {
    width: 30rem;
    height: 25rem;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    color: rgb(240, 240, 240);
    box-shadow: rgba(17, 66, 134, 0.4) 0px 2px 4px, rgba(15, 46, 118, 0.3) 0px 7px 13px -3px, rgba(25, 50, 152, 0.2) 0px -3px 0px inset;
    border: 1px solid rgb(139, 138, 138);

    img {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.9;
        transition: opacity .2s ease-out;
    }

    h2 {
        position: absolute;
        inset: auto auto 30px 30px;
        margin: 0;
        transition: inset .3s .3s ease-out;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: normal;
        text-transform: uppercase;
    }

    p,
    a {
        position: absolute;
        opacity: 0;
        max-width: 80%;
        transition: opacity .3s ease-out;
    }

    p {
        inset: auto auto 80px 30px;
    }

    a {
        inset: auto auto 40px 30px;
        color: inherit;
        text-decoration: none;
    }

    &:hover h2 {
        inset: auto auto 220px 30px;
        transition: inset .3s ease-out;
    }

    &:hover p,
    &:hover a {
        opacity: 1;
        transition: opacity .5s .1s ease-in;
    }

    &:hover img {
        transition: opacity .3s ease-in;
        opacity: 1;
    }

}

.material-symbols-outlined {
    vertical-align: middle;
}

.cardBox {

    margin-left: 14%;
    display: flex;
    width: 72%;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


.tableBox {
    display: flex;
    align-items: center;
    justify-items: center;
    margin-top: 1.5rem;
    margin-left: 13%;
}

.table-container {
    width: 85%;
    overflow-x: auto;
    margin-bottom: 30px;
    /* animation: slideInFromRight 1s ease-in-out; */
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    /* Hide any overflow from rounded corners */
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 15px;
    text-align: center;
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

th {
    background-color: #1a78bc;
    color: #ecf0f1;
    text-transform: uppercase;
    letter-spacing: 1px;
}

td {
    background-color: #ecf0f1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
}

td:hover {
    background-color: #cdd0d1;
    font-weight: bolder;
    animation: pop 0.5s linear 1;
    transition: background-color 0.3s ease;
}

@keyframes pop {
    50% {
        transform: scale(1.2);
    }
}


/* Links styling */
a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    text-decoration: underline;
    color: #2980b9;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

/* Additional styling for mobile responsiveness */
@media (max-width: 768px) {
    h1 {
        font-size: 2.5em;
    }

    .form-group label {
        font-size: 1em;
    }

    .form-group select {
        font-size: 0.9em;
    }

    th,
    td {
        padding: 10px;
        font-size: 0.9em;
    }
}

.total-count {
    width: 1080px;
    display: flex;
    gap: 0.8rem;
    align-items: center;
    margin: auto;
    justify-content: center;
}

.anomaly {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 350px;
    background-color: #1a78bc;
    border: white solid 1px;
    padding: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 2.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.anomaly:hover{
    animation: pop 0.7s linear 1;
    transition: background-color 0.3s ease;
}
.oilSpill {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 350px;
    background-color: #1a78bc;
    border: white solid 1px;
    padding: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 2.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.oilSpill:hover{
    animation: pop 0.7s linear 1;
    transition: background-color 0.3s ease;
}
@keyframes pop {
    50% {
        transform: scale(1.1);
    }
}
